/*
CSS for Bubble Under Site
*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e2edff;
    line-height: 125%;
    padding: 0;
    border: 0;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    color: white;
    background-color: navy;
    padding-top: 2em;
    padding-bottom: .2em;
    padding-left: .4em;
    margin: 0;
    background: navy url(gallery/header-bg.PNG) repeat-y right;
}

li {
    font-size: small;
    list-style-type: circle;
}

h2 {
    color: navy;
    font-size: 130%;
    font-weight: normal;
    padding: 15px;
}

p {
    font-size: small;
    color: navy;
    margin: 0;
}

em {
    font-style: normal;
    text-transform: uppercase;
}

#tagline p {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #bed8f3;
    border-top: 3px solid #7da5d8;
    border-bottom: 3px solid #7da5d8;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .8em;
    margin: 0;
    width: 100%;
}

h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: navy;
    color: white;
}

/* links styling starts here */

a {
    font-weight: bold;
    color: black;
}

a:link {
    color: black;
}

a:visited {
    color: navy;
}

a:hover {
    text-decoration: none;
    color: white;
    background-color: navy;
}

a:active {
    color: aqua;
    background-color: navy;
}

/* links styling ends here */

.fun {
    color: #339999;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.05em;
}

blockquote.fun {
    font-style: italic;
}

#main-navigation {
    width: 180px;
    height: 484px;
    background-color: #7da5d8 url(gallery/nav-back.PNG) no-repeat;
}

h2, ul {
    margin-top: 15px;
}

/*#header, #sitebranding #tagline, #main-navigation, #bodycontent {
    border: 1px solid red;
    padding: 2px;
    margin-bottom: 2px;
}*/

/* Positioning starts*/

/*
This section deals with the position of items on the screen. It uses absolute positioning- fixed x and y coordinates
measured from the top-left corner of the browser's content display.
*/

#main-navigation, #bodycontent, #header {
    position: absolute;
}

#main-navigation, #bodycontent {
    top: 107px;
}

#bodycontent {
    left: 200px;
}

#header {
    width: 100%;
    border-top: 3px solid #7da5d8;
}

.feature {
    float: right;
    margin: 10px;
}

/*Positioning ends here */

.galleryphoto img {
    border: 15px solid white;
}

.galleryphoto p {
    font-size: 65%;
    font-weight: bold;
    margin-top: 0;
    width: 430px;
    line-height: 1.4em;
}

.photocredit {
    font-weight: normal;
    color: gray;
}

.galleryphoto {
    padding-bottom: 20px;
    border-bottom: 1px solid navy;
    margin-bottom: 10px;
}

/* Styling the events table - starts here */

table.events {
    border-collapse: collapse;
}

table.events th, table.events td {
    padding: 4px;
    border: 1px solid #000066;
}

table.events th {
    font-size: x-small;
    text-align: left;
    background: #241374 url(gallery/header-bg.PNG);
    color: #ffffff;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
}

table.events td {
    font-size: small;
    background: #e2edff;
}

table.events caption {
    color: #000066;
    font-size: small;
    text-align: left;
    padding-bottom: 5px;
    font-weight: bold;
}

/* Styling the events table - ends here */


/*styling the contact form*/

form.contact fieldset {
    border: 2px solid navy;
    padding: 10px;
}

form.contact legend {
    font-weight: bold;
    font-size: small;
    color: navy;
    padding: 5px;
}

/*styling the contact form*/